* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(241, 238, 238);
  color: black;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5.8rem;
}

nav img {
  height: 5.2rem;
}

.left {
  font-size: 2rem;
  font-weight: 900;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 1px 25px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: rgb(255, 132, 0);
  font-size: 1.01rem;
  border: 2px solid rgba(0, 0, 0, 0.612);
  letter-spacing: 0.5px;
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.515);
  transition: 0.5s;
}
#second ul a:hover{
  color: rgb(255, 132, 0);
  font-size: 1.01rem;
  border: 2px solid rgba(0, 0, 0, 0.612);
  letter-spacing: 0.5px;
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.515);
  transition: 0.5s;
}
#element {
  color: rgb(255, 132, 0);
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.firstsection > div {
  width: 30%;
}

.name {
  color: rgb(255, 132, 0);
}

.s1 {
  color: rgba(0, 0, 0, 0.534);
  margin: auto;
}

.leftsection {
  font-size: 2.6rem;
}

.rightsection img {
  width: 100%;
  border-radius: 50%;
  margin-top: 20px;
  box-shadow: 10px 10px 20px;
}

.rightsection img:hover {
  width: 500px;
  height: 500px;
  transition: .5s;
}

main hr {
  border: 0;
  background-color: rgb(216, 216, 223);
  height: 1px;
  margin: 50px 90px;
}

.secondsection {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  height: 40vh;
}

.secondsection h1 {
  font-size: 2rem;
}

.secondsection ul li {
  list-style: none;
  padding: 5px;
  margin: 10px auto;
}

.thirdsection {
  max-width: 80vw;
  margin: auto;

}

h1 {
  font-size: 2rem;
  color: rgb(255, 132, 0);
}

.intern {
  margin-top: 10px;
}

.Internship {
  margin-top: 1rem;
}

.My-Experienced {
  padding: 20px;
  margin: 20px 20px 0 0;
}

.My-Experienced:hover, .education:hover {
  background-color: aliceblue;
  border-radius: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.106);
  padding: 50px;
  cursor: pointer;
  box-shadow: 10px 10px 20px black;
  transform-style: inherit;
  transition: 0.5s;
}

#left-second:hover,
#mid-second:hover,
#right-second:hover {
  border: 2px solid rgb(194, 41, 7);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgb(255, 132, 0);
  background-color: #fff;
  transition: 0.5s;
  transform: scale(1.2);
}

#mid-second ul li a {
  text-decoration: none;
  list-style: none;
  color: black;
}

.rtu-logo img {
  width: 3rem;
}

#university {
  display: flex;
  padding: 0 30px 30px 0px;
  margin-top: 1rem;
}

.University {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.logo {
  margin-top: 1rem;
  align-items: center;
}

.logo:hover {
  box-shadow: 10px 10px 20px;
  padding: 20px;
  border-radius: 50%;
  background: none;
  transition: 0.7s;
}

.contact {
  display: flex;
  justify-content: space-between;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

@media only screen and (max-width:600px){

  .fa-5x{
    font-size: 3em !important;
  }
  .gmail{
    width: 40px !important;
  }
  .secondsection {
    flex-wrap: wrap;
    height: auto !important;
  }
  #second ul{
    text-decoration: none;
    list-style: none;
  }
  #second {
    background-color: #f1eeee;
  }
  #second ul li a{
    text-decoration: none;
    list-style: none;
    text-decoration: none !important;
    color: black;
  }
  .firstsection{
    flex-wrap: wrap;
  }
  .firstsection > div{
    min-width: 200px;
  }
  .rightsection img:hover {
    width: 100%;
    height: 40%;
    transition: .5s;
  }
  .left{
    font-size: 1em !important;
  }
  .active{
    gap: 50px !important;
  }
}
.hamburger{
  display: none ;
}
.elements{
  display: none;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black !important;
}
@media only screen and (max-width:600px){
  .hamburger {
    align-items: center;
  display: flex !important;
  flex-direction: column;
  gap: 5px;
    justify-content: center;
    align-items: center;

  }
  .right{
    display: none;
  }
  .active .hamburger div{
    background-color: white !important;
  }
  .container{
    z-index: 1;
  }

  .active{
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    position: fixed;
    top: 105px !important;
    background-color: #e6e6fa;
    overflow: hidden;
    animation: animate 0.3s ease-in;
    gap: 50px !important;
  }
  .active ul li{

    margin: 20px;
  }

  .container2{
    display: none !important;
  }
  .mode{
    position: absolute;
    right: 20px !important;
  }
}
.gmail{
  width: 75px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
@keyframes animate {
  from{
    height: 0px ;
  }to{
    height: 500px !important;
    
  }
}
.contact-left textarea {
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
}
@media only screen and (max-width:392px){
  .secondsection{
    flex-direction: column;
  }
}
.contact-inputs:hover {
  border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
  color: lightgray;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
}

.contact-left button img {
  height: 1rem;
}

.contact-right img {
  width: 600px;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-right {
    display: none;
  }
}
